@media screen, print {
     body {
          font-family: sans-serif, "Arial";
          line-height: 1.6;
          font-size: 16px;
     }
     nav {
          background-color: #29abe2;
     }

     nav * {
          color: #fff;
     }

     button {
          padding: 2px 3px;
     }

     h3 {
          font-size: 1rem;
          font-weight: 800;
          padding-bottom: 0.2rem;
     }

     .container-xxl {
          max-width: 1320px;
          /* overflow: hidden; */
     }
     .container {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: flex-start;
          margin: 0 auto;
     }

     .card {
          box-shadow: 00px 5px 10px 5px rgba(0, 0, 0, 0.1);
     }
     .card-header {
          color: #fff;
          font-weight: 800;
          background-color: #29abe2;
          padding-top: 16px;
          padding-bottom: 12px;
     }
     .card-body {
          scroll-behavior: auto;
          overflow: auto;
     }

     @page {
          size: A4 portrait;
          margin: 20mm 0;
     }

     .component-holder {
          /* padding: 20px;
          padding-top: 0px;
          border: 1px solid #ccc; */
          width: 100%;
          font-size: small;
          position: relative;
          margin: 30px 0;
     }

     .component-area {
          height: 50vh;

          /* scroll-behavior: auto;
          overflow: auto; */
     }

     .component {
          /* border: 1px solid #ccc; */
          /* page-break-after: auto; */
          cursor: grab;
     }

     .component h3 {
          margin-block-start: 0;
          margin-block-end: 0;
     }

     .accordion-button:active {
          cursor: grab;
     }

     .btn-component {
          position: relative;
          margin-bottom: 10px;
          padding: 10px 10px 5px 10px;
          border-radius: 0.5rem;
          cursor: grab;
     }
     .btn-component:hover {
          background-color: #eee;
     }

     .usedComponent {
          background-color: rgba(0, 123, 255, 0.1);
          cursor: default;
     }

     .left-column {
          width: 30vw;
          max-width: 600px;
          height: calc(100vh - 58px);
          overflow: auto;
     }
     .right-container {
          height: calc(100vh - 58px);
          overflow: auto;
          padding: 0 20px;
     }

     .heightPrserve {
          height: 3vh;
     }

     .left-column::-webkit-scrollbar {
          opacity: 0;
          width: 0px;
          margin-right: 3px;
     }

     .right-container:not(:hover)::-webkit-scrollbar {
          opacity: 0;
          width: 0px;
          margin-right: 3px;
     }

     .left-column:not(:hover)::-webkit-scrollbar-track,
     .right-container:not(:hover)::-webkit-scrollbar-track {
          opacity: 0;
          margin: 3px;
          padding: 2px;
     }

     .left-column:not(:hover)::-webkit-scrollbar-thumb,
     .right-container:not(:hover)::-webkit-scrollbar-thumb {
          opacity: 0;
          box-sizing: border-box;
          border-radius: 5px;
          border: 0px solid rgba(0, 0, 0, 0.1);
          background-color: rgba(0, 0, 0, 0.1);
     }

     .preview-container {
          height: calc(297mm * var(--scaleFactor));
     }

     .preview-area {
          width: calc(210mm);
          min-height: calc(297mm);
          transform: scale(var(--scaleFactor));
          transform-origin: top center;
          margin: 0 auto;
          padding: 6mm;
          border: 1px solid #ccc;
          box-sizing: border-box;
          background: repeating-linear-gradient(to right, white, white 10px, transparent 10px, transparent 20px),
               repeating-linear-gradient(transparent, transparent calc((297mm - 1px)), #ddd calc((297mm - 1px)), #ddd calc((297mm + 1px)), transparent calc((297mm + 1px)));
     }

     .previewComponent p,
     ul,
     ol {
          font-size: 1rem;
          margin-bottom: 0px;
     }
     .previewComponent h3 {
          font-size: 1.25rem;
     }
     .article-content-data-preview {
          margin-bottom: 0px;
          color: rgba(0, 0, 0, 0.4);
     }

     .delete-button {
          width: 20px;
          height: 20px;
          color: white;
          background-color: #e94a2d;
          border: none;
          border-radius: 2px;
          position: absolute;
          padding: 0;
          top: 0;
          right: 0;
          margin: 0.2rem;
     }

     .previewComponent {
          border: 1px solid #ccc;
          page-break-after: auto;
          padding: 20px;
          cursor: grab;
     }

     .loader {
          border: 5px solid #f3f3f3; /* Light grey */
          border-top: 5px solid #3498db; /* Blue */
          border-radius: 50%;
          width: 2rem;
          height: 2rem;
          margin: 0 auto;
          margin-top: 2rem;
          animation: spin 1.5s linear infinite;
     }
     .longArticle {
          padding-top: 1em;
     }

     @keyframes spin {
          0% {
               transform: rotate(0deg);
          }
          100% {
               transform: rotate(360deg);
          }
     }
     .sectionTitle {
          padding: 25px 0px 15px 0px;
          font-size: 1.5rem;
          font-weight: 600;
          position: sticky;
          z-index: 1;
          background-color: #fff;
          width: 100%;
          top: 0;
          left: 0;
     }

     ::-webkit-scrollbar {
          width: 5px;
          margin-right: 3px;
     }

     ::-webkit-scrollbar-track {
          margin: 3px;
          padding: 2px;
     }

     ::-webkit-scrollbar-thumb {
          box-sizing: border-box;
          border-radius: 5px;
          border: 0px solid rgba(0, 0, 0, 0.1);
          background-color: rgba(0, 0, 0, 0.1);
     }
}

@media screen {
     body {
          overflow: hidden;
     }
     :root {
          --scaleFactor: 0.75;
     }
     .preview-area {
          border: 1px solid #ccc;
          background-color: #fff;
          box-shadow: 00px 5px 6px 3px rgba(0, 0, 0, 0.1);
     }
     .print-preview-BG {
          background-color: #ccc;
     }
     .delete-button {
          position: absolute;
          top: 0;
          right: 0;
          display: block;
     }
}

@media print {
     body {
          overflow: auto;
     }
     :root {
          --scaleFactor: 1;
     }
     /* body * {
          display: none;
     } */

     /* .preview-container,
     .preview-area,
     .preview-area * {
          display: block !important;
     }

     .delete-button {
          display: none !important;
     } */

     .preview-area {
          background-color: #fff;
          border: 0px;
     }
     .print-preview-BG {
          background-color: #ccc;
     }

     ul,
     ol {
          list-style: initial !important;
     }
}
