@media screen, print {
     body {
          font-family: "Arial", sans-serif;
          line-height: 1.6;
     }

     button {
          padding: 2px 3px;
     }

     .container {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: flex-start;
          margin: 0 auto;
     }

     .preview-area {
          width: calc(210mm);
          height: calc(297mm);
          margin: 0 auto;
          padding: 6mm;
          border: 1px solid #ccc;
          box-sizing: border-box;
          background: repeating-linear-gradient(to right, white, white 10px, transparent 10px, transparent 20px),
               repeating-linear-gradient(transparent, transparent calc(297mm - 1px), #ddd calc(297mm - 1px), #ddd calc(297mm + 1px), transparent calc(297mm + 1px));
     }
     @page {
          size: A4 portrait;
          margin: 20mm 0;
     }
     .left-column {
          width: 300px;
     }
     .right-container {
          height: calc(100vh - 16px);
          overflow: auto;
          padding: 0px 20px;
     }
     .component-holder {
          padding: 20px;
          padding-top: 0px;
          border: 1px solid #ccc;
          width: 100%;
          height: 20vh;
          font-size: small;
          scroll-behavior: auto;
          overflow: auto;
          position: relative;
     }

     .component-area {
          height: 50vh;
          /* scroll-behavior: auto;
          overflow: auto; */
     }

     .component {
          position: relative;
          margin-bottom: 20px;
          padding: 10px;
          border: 1px solid #ccc;
          page-break-after: auto;
     }

     #preview-content {
          min-height: 300px;
     }

     .funcBtn {
          margin-top: 10px;
          padding: 5px 10px;
          background-color: #007bff;
          color: #fff;
          border: none;
          border-radius: 3px;
          cursor: pointer;
          width: 100%;
     }

     /* #print-btn {
          margin-top: 10px;
          padding: 5px 10px;
          background-color: #007bff;
          color: #fff;
          border: none;
          border-radius: 3px;
          cursor: pointer;
     } */
     .component h3 {
          margin-block-start: 0;
          margin-block-end: 0;
     }
     h3 {
          font-size: 1.2rem;
     }
     /* .delete-button {
          position: absolute;
          top: 0;
          right: 0;
     } */
     .delete-button {
          width: 20px;
          height: 20px;
          color: white;
          background-color: #e94a2d;
          border: none;
          border-radius: 2px;
          position: absolute;
          top: 0;
          right: 0;
          margin: 0.2rem;
     }

     .btn-component {
          border-radius: 0.5rem;
          cursor: pointer;
     }
     .btn-component:hover {
          background-color: #eee;
     }

     .previewComponent {
          cursor: grab;
     }
     .loader {
          border: 5px solid #f3f3f3; /* Light grey */
          border-top: 5px solid #3498db; /* Blue */
          border-radius: 50%;
          width: 1rem;
          height: 1rem;
          animation: spin 1.5s linear infinite;
     }
     @keyframes spin {
          0% {
               transform: rotate(0deg);
          }
          100% {
               transform: rotate(360deg);
          }
     }
     .sectionTitle {
          padding: 25px 0px 15px 0px;
          font-size: 1.5rem;
          font-weight: 600;
          position: sticky;
          z-index: 1;
          background-color: #fff;
          width: 100%;
          top: 0;
          left: 0;
     }
     .selectedDepartment {
          color: white;
          background-color: #3498db;
     }
}

@media screen {
     .preview-area {
          border: 1px solid #ccc;
          background-color: #fff;
     }
     .print-preview-BG {
          background-color: #ccc;
     }
     .delete-button {
          position: absolute;
          top: 0;
          right: 0;
          display: block;
     }
}

@media print {
     body * {
          display: none;
     }

     .preview-container,
     .preview-area,
     .preview-area * {
          display: block !important;
     }

     .delete-button {
          display: none !important;
     }

     .preview-area {
          background-color: #fff;
          border: 0px;
     }
     .print-preview-BG {
          background-color: #ccc;
     }
}
